<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--通过这个配置文件，完成mybatis与数据库的连接  -->
<configuration>
    <settings>
        <!-- 配置mybatis的log实现为LOG4J，后台就会有sql语句的输出 -->
        <!--<setting name="logImpl" value="LOG4J"/>-->

        <!--获取数据库自增主键值-->
        <setting name="useGeneratedKeys" value="true" />

        <!--使用列别名替换列名-->
        <setting name="useColumnLabel" value="true" />

        <!--驼峰命名转换-->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>



    <!--<environments default="development">-->
        <!--<environment id="development">-->
            <!--&lt;!&ndash; 配置事务管理 ，采用JDBC管理事务&ndash;&gt;-->
            <!--<transactionManager type="JDBC"/>-->
            <!--&lt;!&ndash; POOLED是mybatis的 数据源 &ndash;&gt;-->
            <!--&lt;!&ndash; JNDI是基于tomcat的数据源 &ndash;&gt;-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="${driver}"/>-->
                <!--<property name="url" value="${url}"/>-->
                <!--<property name="username" value="${username}"/>-->
                <!--<property name="password" value="${password}"/>-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->



    <!-- pojo的映射文件UserMapper引入到配入到配置文件中 -->
    <!--<mappers>-->
         <!--resource要写成路径 -->
        <!--<mapper resource="com/wu/dao/UserMapper.xml"/>-->
        <!--<mapper resource="com/wu/dao/RoleMapper.xml"/>-->
        <!--<package name=""/>&lt;!&ndash; ???用处？？？ &ndash;&gt;-->
    <!--</mappers>-->
</configuration>